*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  padding: 10px 23px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(120deg,#F9797A 26%,#FB09B4 51%, #9100F8 84%);
  color: white;
  cursor: pointer;
}
/* Header section CSS */
#nav-bar{
  max-width: 100%;
  background-color: #1A0B2E;
}

.nav-container{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.nav-logo h1{
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.nav-logo span{
  background: linear-gradient(120deg,#F9797A 26%,#FB09B4 51%, #9100F8 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu ul{
  display: flex;
  gap: 30px;
}
.nav-menu ul li{
  list-style: none;
}
.nav-menu ul li a{
  color: #d0d0d0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.banner-img{
    background-image: url(images/hero-bg.png); 
    background-size: cover;     
    background-repeat: no-repeat; 
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* About Section CSS */
#about-part{
  max-width: 100%;
  background-color: #1A0B2E;
}

.about-container{
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  color: #fff;
}
.about-header h2{
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 10px;
  color: #ffffff;
}
.about-header p{
  font-size: 0.9rem;
  line-height: 32px;
  color: #ffffff;
}

.about-header .two{
  padding-bottom: 25px;
}
.about-header{
  padding-bottom: 50px;
}

.about-footer{
  border-top: 0.1px solid rgb(86, 86, 86);
  display: flex;
  justify-content: space-between;
}
.about-item{
  padding: 60px 0px;
}
.about-item h1{
  font-size: 2.6rem;
  color: #00FF88;
  font-weight: bold;
  padding-bottom: 8px;
}
.about-item p{
  font-size: 0.9rem;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}