*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  padding: 10px 23px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  /* background-color: ; */
}

/* Header section CSS */
#nav-bar{
  max-width: 100%;
  background-color: #1A0B2E;
}

.nav-container{
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.nav-logo h1{
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
/* .nav-logo span{
  color: ;
} */
.nav-menu ul{
  display: flex;
  gap: 30px;
}
.nav-menu ul li{
  list-style: none;
}
.nav-menu ul li a{
  color: #d0d0d0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;

}